*{

    font-family: sans-serif;
    font-family: 'Krona One', sans-serif;
    background-image: url("Imagenes\qondoindex.jpg");
}

.divPrincipal {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 1000px;
    min-height: 1px;
    text-align: center;
    margin: 0 auto; 
  }

    .imgIndex {
  
        max-width: 100%;
        height: auto;
        margin: auto;
        display: block;
        width: 300px;
      }

    .botones{
        text-align: center;     
        color: #ffffff;
        background-color: #0275d8;
        border-color: #0275d8;
        width: 700px;
        height: 50px;
        

      }

      .botones:hover {
        color: #fff;
        background-color: #043057;
        border-color: #043057;
        
      }


      .botones:focus, .botones.focus {
        -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
                box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
      }
      
      .btn-primary.disabled, .btn-primary:disabled {
        background-color: #0275d8;
        border-color: #0275d8;
      }
      
      .botones:active, .botones.active,
      .show > .botones.dropdown-toggle {
        color: #fff;
        background-color: #025aa5;
        background-image: none;
        border-color: #01549b;
      }

      
.barraVertical {
    display: flex;
    padding-left: -1;
    margin-bottom: 100px;
    list-style: none;
    background-color: #043057;
    height: 60px;
  }

.nav-item {
    margin-bottom: -1px;
  }