body{

   
    background-image: url("../Imagenes/jaguar_2-wallpaper-1366x768.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
*{
font-family: sans-serif;
font-family: 'Krona One', sans-serif;
}
.divPrincipal {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 1000px;
    min-height: 1px;
    text-align: center;
    margin: 0 auto; 
    background-color: none;
  }

    .imgIndex {
  
        max-width: 100%;
        height: auto;
        margin: auto;
        display: block;
        width: 500px;
        background-color: none;
      }

    .botones{
        text-align: center;       
        background-color: #043057;
        border-color: #043057;
        width: 700px;
        height: 50px;
        font-family: 'Krona One', sans-serif;

      }

      .botones:hover {
        background-color: #1639d4;
        border-color: #3700ff;
        
      }



    .barraVertical {
    display: flex;
    padding-left: 0;
    margin-bottom: 65px;
    list-style: none;
    background-color: #043057;
    height: 60px;
  }

.nav-item {
    margin-bottom: -1px;
  }

  p{


    font-size: xx-large;
    color: rgb(224, 238, 23);    
  
  }

  h2{
    font-size: xx-large;
    color:#043057;    
  
  }