

html{

    
    background-image: url("../Imagenes/jaguar_2-wallpaper-1366x768.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.imgIndex {
  
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
  width: 500px;
  background-color: none;
}
form
{


    text-align: center;
}

input[type=password], input[type=text] {
    width : 400px;
    height: 50px;
    
  
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
       -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
            box-sizing: border-box;
  }


  input[type=submit]{
    text-align: center;       
    background-color: #043057;
    border-color: #043057;
    width : 250px;
    height: 40px;

  }
 form  a input[type=button]{ /* Para ciertas cosas dentro de otras cosas*/

    width : 250px;
    height: 40px;

  }

  .btn_intentar{

    width : 250px;
    height: 40px;

  }
  h1,h3{
    font-size: xx-large;
    color: rgb(224, 238, 23);    

  }